:root {
    --dark-blue: #222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7D;
    --white: #FBFBFB;
    --gray: #9F9F9F;
    --white-gray: #F8F8F8;
    --black:#222224;


}

body {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    background-color: var(--dark-blue);
}

.header__wrapper {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation {
    display: none;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__button {
    border: none;
    background-color: transparent;
}

.header__link {
    margin: 0 0 0 34px;
}

.promo {
    display: flex;
    margin: 0 0 63px;
}


.promo__heading-wrapper {
    background-color: var(--pink);
    flex-grow: 1;
    align-items: center;
    display: flex;
    padding: 0 0 0 92px;
}

.promo__heading {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.promo__sub-heading {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    display: block;
}

.promo__sub-heading-pink {
    color: var(--dark-pink);
}
.categories__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__item { 
    width: 360px;
    min-height: 260px;
}

.categories__item--woman {
    background-image: url(../img/categories-woman.jpg);
    align-items: center;
    display: flex;
}

.categories__item--man {
    background-image: url(../img/categories-man.jpg);
    align-items: center;
    display: flex;
}

.categories__item--kids {
    background-image: url(../img/categories-kids.jpg);
    align-items: center;
    display: flex;
}

.categories__item--accessories {
    background-image: url(../img/categories-accesories.jpg);
    min-height: 180px;
    width: 100%;
    align-items: center;
    display: flex;
    margin: 30px 0 96px;
}

.categories__item-wrapper-woman {
    padding: 0 0 0 103px;
}

.categories__item-wrapper-man {
    padding: 0 0 0 125px;
}

.categories__item-wrapper-kids {
    padding: 0 0 0 123px;
}

.categories__item-wrapper-accessories {
    padding: 0 0 0 491px;
}
.categories__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color:  var(--white);
    text-transform: uppercase;
}

.categories__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    color:  var(--dark-pink);
    text-transform: uppercase;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 48px 0 0;
}

.products__heading-wrapper {
    text-align: center;
}

.products__heading {
    font-size: 30px;
    font-weight: 400;
}

.products__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--gray);
    margin: 6px 0 0;
}

.products__item {
    width: 360px;
    min-height: 581px;  
    background-color: var(--white-gray);
}

.products__item-heading {
    padding: 25px 0 13px 18px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.products__item-text{
    padding: 0 0 0 18px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: var(--gray);
}

.products__sub-heading {
    display: block;
}

.products__item-price {
    padding: 18px 0 0 18px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;    
    color: var(--dark-pink);
}

.button__wrapper {
    text-align: center;
    margin: 49px 0 100px;
}

.button {
    width: 211px;
    min-height: 47px;
    border-color: var(--dark-pink);
    background-color: var(--white);
    color: var(--dark-pink);
}
.privileges__list {
    display: flex;
    background-color: black;
    width: 1600px;
    margin: 0 auto;
    height: 341px;
    justify-content: space-around;
}

.privileges__item-img {
    padding: 0 0 28px 140px;
}

.privileges__item-heading {
    padding: 0 0 16px;
}

.privileges__item-heading {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--white);
    }

.privileges__item-text {
    font-size: 14px; 
    font-weight: 300;
    line-height: 17px;
    text-align: center;
    color: var(--white);
    }

.privileges__sub-heading {
    display: block;
    
}

.privileges__item {
    padding: 103px 0 0 0;

}

.footer__list {
    display: flex;
    background-image: url(../img/footer-background.jpg);
    width: 1598px;
    margin: 0 auto;
    height: 448px;
    justify-content: space-between;    
}

.footer__item-img {
    padding: 0 0 28px 330px;
}

.footer__item-text {       
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding: 0 0 0 190px;
    text-align: center;
}

.footer__sub-heading {
    display: block;
}

.footer__sub-heading-cursive {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.footer__item {
    padding: 87px 0 0 0;
}

.footer__item-wrapper {
    padding: 87px 150px 0 0;
    text-align: center;
}

.footer__item-heading {
    padding:150px 230px 0 0;
}

.footer__item-heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    padding: 80px 230px 0 0;
    text-transform: uppercase;
}

.footer__item-heading-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    text-transform: uppercase;
    padding: 0 230px 0 0;
}

.copyright {
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1598px;
    margin: 0 auto;
    background-color: black;
}
.copyright__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: var(--white);
    padding: 30px 0 30px 235px;
}

.footer__link {
    padding:  0 120px 0 0;
}