.button__wrapper {
    text-align: center;
    margin: 49px 0 100px;
}

.button {
    width: 211px;
    min-height: 47px;
    border-color: $dark-pink;
    background-color: $white;
    color: $dark-pink;
}