.footer {
    .footer__list {
        display: flex;
        background-image: url(../img/footer-background.jpg);
        width: 1598px;
        margin: 0 auto;
        height: 448px;
        justify-content: space-between;    
    }

    .footer__item-img {
        padding: 0 0 28px 330px;
    }

    .footer__item-text {  
        @include font (20px, 24px, 400);     
        padding: 0 0 0 190px;
        text-align: center;
    }

    .footer__sub-heading {
        display: block;
    }

    .footer__sub-heading-cursive {
        font-size: 20px;
        font-style: italic;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }

    .footer__item {
        padding: 87px 0 0 0;
    }

    .footer__item-wrapper {
        padding: 87px 150px 0 0;
        text-align: center;
    }

    .footer__item-heading {
        padding:150px 230px 0 0;
    }

    .footer__item-heading {
        @include font (24px, 40px, 700);
        padding: 80px 230px 0 0;
        text-transform: uppercase;
    }

    .footer__item-heading-text {      
        @include font (18px, 40px, 400);
        text-transform: uppercase;
        padding: 0 230px 0 0;
    }
}