.privileges {
    .privileges__list {
        display: flex;
        background-color:$black;
        width: 1600px;
        margin: 0 auto;
        height: 341px;
        justify-content: space-around;
    }

    .privileges__item-img {
        padding: 0 0 28px 140px;
    }

    .privileges__item-heading {
        padding: 0 0 16px;
    }

    .privileges__item-heading {
        @include font (20px, 24px, 400);
        text-align: center;
        color: $white;
        }

    .privileges__item-text {
        @include font (14px, 17px, 300);
        text-align: center;
        color: $white;
        }

    .privileges__sub-heading {
        display: block;
        
    }

    .privileges__item {
        padding: 103px 0 0 0;

    }
}