.products {
    .products__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 48px 0 0;
    }

    .products__heading-wrapper {
        text-align: center;
    }

    .products__heading {
        font-size: 30px;
        font-weight: 400;
    }

    .products__text {
        @include font (14px, 17px, 400);
        color: $gray;
        margin: 6px 0 0;
    }

    .products__item {
        width: 360px;
        min-height: 581px;  
        background-color: $white-gray;
    }

    .products__item-heading {
        @include font (13px, 16px, 400);
        padding: 25px 0 13px 18px;
        text-transform: uppercase;
    }

    .products__item-text{
        @include font (14px, 17px, 300);
        padding: 0 0 0 18px;
        color: $gray;
    }

    .products__sub-heading {
        display: block;
    }

    .products__item-price {
        @include font (16px, 19px, 400);
        padding: 18px 0 0 18px;        
        color: $dark-pink;
    }
}