    $dark-blue: #222222;
    $pink: #F1E4E6;
    $dark-pink: #FF6A6A;
    $white: #FBFBFB;
    $gray: #9F9F9F;
    $white-gray: #F8F8F8;
    $black:#222224;
    $dark-black: #000000;
    $lite-gray: #B1B1B1;
    $lite-pink: #F16D7F;
    $subscribe-gray: #E1E1E1;